@media screen and (max-width:1500px) {

     #album{
        top:22px;
        position: absolute;
        color:white;
        left:1000px;
    }
    #logomenu{
        position: absolute;
        width:5%;
        height:7%;
        top:10px
    } 
    .sidebar{
        position: fixed;
        top:0;
        left:-250px;
        width:250px;
        height:100vh;
        background-color: #111;
        display: grid;
        grid-template-rows: repeat(7,70px);
        padding-top: 100px;
        transition: 0.5s;
        z-index: 999;
    }
    .sidebar.active{
        left: 0;
    }
    .sidebar a{
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding-left: 20px;
        font-size: 18px;
    }
    .sidebar a:hover{
        background-color: #1f1f1f;
    }
    #login{
    position: absolute ;
    width:1.5%;
    height:3%;
    left:1520px;
    top:15px;
}
    #fifa{
        position: absolute;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
        color:white;
        left:75px;
        top:11px;
    }
    #login{
    position: absolute ;
    width:2%;
    height:4%;
    left:1220px;
    top:20px;
}
    #brasilflag{
        position: absolute;
        width:2%;
        height:2.5%;
        left:1280px;
        top:24px;
    }
    .menu1{
        height:50px;
        background-color: rgb(0, 0, 0);
    }
    .menu2{
        height:70px;
        background-color: rgb(35, 7, 133);
    }

    .cabecalho img{
        position: absolute;
        height:8%;
        width:3%;
        top:60px;
        left:10px;
    }
    .meio{
        height:700px;
    }
    .meio img{
        position: absolute;
        display: flex;
        left:910px;
        justify-content: right;
        width:450px;
        height:700px;
        top:-250px;
        
    }
    #logocopa2{
        position: absolute;
        width:27%;
        height:270%;
        top:-200px;
        left:1000px; 
    }
    
    #textocopa{
        position: absolute;
        top:65px;
        left:70px;
        color: white;
    }
    .menu2{
        display:flex;
        align-items: center;
        justify-content: right;
    }
    .menu2 p{
        color:white;
        margin:20px;
    }
    .menu2 p:hover{
        text-decoration: none;
        color:yellow;
    }

.container{
    display:flex;
    justify-content:center;
    gap:100px;
    margin-top:20px;
}

.menu{
    width:550px;
    display:flex;
    flex-direction:column;
    gap:40px;
    margin-top:60px;
}

.texto{
    font-size: 30px;
}

.conteudo{
    width:500px;
    height:1000px;
    background:#73b6c2;
    border:1px solid green;
    text-align:center;
    
}
.texto2{
    font-size:30px;
}
.resultado{
    font-size:20px;
}
.conteudo h1{
    margin-bottom:50px;
}

.conteudo p{
    margin-bottom:50px;
}
#rodape{
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        height:100px;
        background-color: black;
        z-index: 999;
        
    }

}

@media screen and (min-width:1501px) {

     #album{
        top:22px;
        position: absolute;
        color:white;
        left:1400px;
    }
    #logomenu{
        position: absolute;
        width:3%;
        height:5%;
        top:10px
    } 
    .sidebar{
        position: fixed;
        top:0;
        left:-250px;
        width:250px;
        height:100vh;
        background-color: #111;
        display: grid;
        grid-template-rows: repeat(7,70px);
        padding-top: 100px;
        transition: 0.5s;
        z-index: 999;
    }
    .sidebar.active{
        left: 0;
    }
    .sidebar a{
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding-left: 20px;
        font-size: 18px;
    }
    .sidebar a:hover{
        background-color: #1f1f1f;
    }
    #login{
    position: absolute ;
    width:1.5%;
    height:3%;
    left:1520px;
    top:15px;
}
    #fifa{
        position: absolute;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
        color:white;
        left:75px;
        top:11px;
    }
    #login{
    position: absolute ;
    width:1.5%;
    height:3%;
    left:1650px;
    top:20px;
}
#logocopa{
    height:6%;
    width:2.5%;
}
    #brasilflag{
        position: absolute;
        width:2%;
        height:2.5%;
        left:1780px;
        top:24px;
    }
    .menu1{
        height:50px;
        background-color: rgb(0, 0, 0);
    }
    .menu2{
        height:70px;
        background-color: rgb(35, 7, 133);
    }

    .cabecalho img{
        position: absolute;
        height:8%;
        width:3%;
        top:60px;
        left:10px;
    }
    .meio{
        height:700px;
    }
    .meio img{
        position: absolute;
        display: flex;
        left:910px;
        justify-content: right;
        width:450px;
        height:700px;
        top:-250px;
        
    }
    #logocopa2{
        position: absolute;
        width:27%;
        height:270%;
        top:-200px;
        left:1000px; 
    }
    
    #textocopa{
        position: absolute;
        top:65px;
        left:70px;
        color: white;
    }
    .menu2{
        display:flex;
        align-items: center;
        justify-content: right;
    }
    .menu2 p{
        color:white;
        margin:20px;
    }
    .menu2 p:hover{
        text-decoration: none;
        color:yellow;
    }

.container{
    display:flex;
    justify-content:center;
    gap:100px;
    margin-top:20px;
}

.menu{
    width:550px;
    display:flex;
    flex-direction:column;
    gap:40px;
    margin-top:60px;
}

.texto{
    font-size: 30px;
}

.conteudo{
    width:500px;
    height:1000px;
    background:#73b6c2;
    border:1px solid green;
    text-align:center;
    
}
.texto2{
    font-size:30px;
}
.resultado{
    font-size:20px;
}
.conteudo h1{
    margin-bottom:50px;
}

.conteudo p{
    margin-bottom:50px;
}
#rodape{
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        height:100px;
        background-color: black;
        z-index: 999;
        
    }

}