@media screen and (max-width:1650px){
    *{
        margin: 0; padding:0; box-sizing: 0;
    }
    body{
        
    }
    #logomenu{
        position: absolute;
        width:5%;
        height:8%;
        top:0px
    }
    #fifa{
        position: absolute;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
        color:white;
        left:78px;
        top:16px;;
    }
    #login{
    position: absolute ;
    width:2%;
    height:4%;
    left:1220px;
    top:15px;
}
    #brasilflag{
        position: absolute;
        width:2%;
        height:2%;
        left:1300px;
        top:20px;
    }
    .menu1{
        height:50px;
        background-color: rgb(0, 0, 0);
    }
    .menu2{
        height:70px;
        background-color: rgb(35, 7, 133);
    }

    .cabecalho img{
        position: absolute;
        height:8%;
        width:3%;
        top:60px;
        left:10px;
    }
    .meio img{
        position: absolute;
        display: flex;
        left:910px;
        justify-content: right;
        width:450px;
        height:600px;
        top:-250px;
        
    }
    #logocopa2{
        position: absolute;
        width:250px;
        height:450px;
        top:-200px;
        left:1000px;
    }
    #textocopa{
        position: absolute;
        top:75px;
        left:70px;
        color: white;
    }
    .menu2{
        display:flex;
        align-items: center;
        justify-content: right;
    }
    .menu2 p{
        color:white;
        margin:20px;
    }
    .menu2 p:hover{
        text-decoration: none;
        color:yellow;
    }
    .mensagem h1{
        position: absolute;
        top:210px;
        left:180px;
        font-size:30px;
    }
    .mensagem h3{
        position: absolute;
        top:250px;
        left:270px;
    }
    #jogostext{
        position: absolute;
        top:350px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        left:30px;
    }
    .jogos{
        position: absolute;
        top:370px;
        left:400px;
        left:0px;
        display: flex;
    }
    .jogos div{
        background-color: rgb(226, 229, 231);
        height:100px;
        width:200px;
        margin:30px;
        border: 2px solid gray;
    
    }
    .jogos p{
        margin:10px;
    }
    #EUA{
        position: absolute;
        left:0px;
        top:140px;
        height:100px;
        width:200px;
    }
    #Marrocos{
        position: absolute;
        left:260px;
        top:140px;
        height:100px;
        width:200px;
    }
}   
   

@media screen and (min-width:1650px){
    *{
    margin: 0; padding:0; box-sizing: 0;
}
body{
    
}
#logomenu{
    position: absolute;
    width:4%;
    height:6%;
    top:-6px
}
#fifa{
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    left:80px;
    top:10px;
    font-size: 25px;
}
#login{
    position: absolute ;
    width:1.5%;
    height:3%;
    left:1720px;
    top:15px;
}

#brasilflag{
    position: absolute;
    width:2%;
    height:2%;
    left:1800px;
    top:20px;
}

.menu1{
    height:50px;
    background-color: rgb(0, 0, 0);
}
.menu2{
    height:70px;
    background-color: rgb(35, 7, 133);
}

.cabecalho img{
    position: absolute;
    height:8%;
    width:3%;
    top:60px;
    left:10px;
}
.meio img{
    position: absolute;
    display: flex;
    left:900px;
    justify-content: right;
    
    height:90%;
    
}
#logocopa2{
    position: absolute;
    width:20%;
    height:70%;
    top:160px;
    left:1450px;
    
}
#copa{
    width:800px;
    left:1300px;
}
#logocopa{
    height:6%;
    width:3%;
}
#textocopa{
    position: absolute;
    top:75px;
    left:85px;
    color: white;
}
.menu2{
    display:flex;
    align-items: center;
    justify-content: right;
}
.menu2 p{
    color:white;
    margin:20px;
}
.menu2 p:hover{
    text-decoration: none;
    color:yellow;
}
.mensagem h1{
    position: absolute;
    top:210px;
    left:280px;
    font-size:40px;
}
.mensagem h3{
    position: absolute;
    top:270px;
    left:470px;
}
#jogostext{
    position: absolute;
    top:450px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    left:140px;
}
.jogos{
    position: absolute;
    top:500px;
    left:400px;
    left:100px;
    display: flex;
}
.jogos div{
    background-color: rgb(226, 229, 231);
    height:100px;
    width:200px;
    margin:30px;
    border: 2px solid gray;
}
.jogos p{
    margin:10px;
}

#EUA{
    position: absolute;
    left:0px;
    top:140px;
    height:100px;
    width:200px;
}
#Marrocos{
    position: absolute;
    left:260px;
    top:140px;
    height:100px;
    width:200px;
}
}